save-exact=true
registry=https://registry.npmjs.org
# fuer Heroku: wegen ts-jest und typescript@beta
#force=true
python=python
# fuer re2, argon2, bcrypt und pg-native
msvs_version=2019

#strict-ssl=false
#package-lock=false
